.days {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(31, 20px);
  grid-template-rows: 1fr;
  gap: 10px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}
